

- @gladiators.each do |gladiator|
   h3 Name: #{gladiator["name"]} 
   p #{gladiator["age"]}år gammal och är #{gladiator["height"]} och väger #{gladiator["weight"]} OCH HAR #{gladiator["knockouts"]} KNOCKOUTS!!!!!